{
  "env": {
    "browser": true,
    "es6": true,
    "jest/globals": true
  },
  "extends": ["airbnb", "prettier", "prettier/react"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["react", "jest", "prettier", "babel", "react-hooks"],
  "rules": {
    "indent": ["error", 2],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "double"],
    "semi": ["error", "always"],
    "react/jsx-one-expression-per-line": "off",
    "react/forbid-prop-types": "off",
    "prettier/prettier": "error",
    "jsx-a11y/heading-has-content": "off",
    "no-underscore-dangle": "off",
    "jsx-a11y/label-has-for": "warn",
    "jsx-a11y/label-has-associated-control": "warn",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "operator-assignment": ["error", "never"],
    "react/jsx-props-no-spreading": "off"
  }
}
